@CHARSET "UTF-8";

body{
    width: 100%;
    height: 800px;
}

/*	navbar */
.navbar{
	margin-left:-10px;
	margin-bottom:0px;
	padding-left: 10px;
	padding-right:10px;
    border-radius: 0px;
    border:0px;
    background-color: white;
}

#nav_right a{
    color:black;
}

#nav_right a:hover{
    text-decoration-line: underline;
    font-weight: bold;
}


#nav_right{
	margin-top: 10px;
}

/*nav languag button */
.lang{
    box-sizing: border-box;
	background-color: black;
	border-color: black;
	margin-top:10px;
	margin-left:5px;
	padding: 5px;
	height:30px;
	width:30px;
	font-size: 10px;
	text-align: center;
}


/* Model style */
.modal-header{
	background-color: grey;
}

/* mid of page index.php */
#mid{
    background-image: url(../images_core/20170602_182129_HDR.jpg);
     background-repeat: no-repeat;
    background-size: contain;
    height: 100%;
    width: 100%;
}
